:root {
    --dragCoverSize: calc(var(--ft-sz)*3.5);
    --ScrubberSize: calc(var(--ft-sz)*2);
}
.col-sm-4 {
    padding-top: 0;
    padding-right: 4px;
  padding: 0 15px;
    /*background: linear-gradient(0deg, var(--bkgrnd-grey1) 0%, var(--bkgrnd-grey2) 10%, var(--bkgrnd-grey3) 15%, var(--bkgrnd-grey3) 100%);*/
}

#rightPanel {
    color: var(--text-white);
    font-family: Arial, Helvetica, sans-serif;
    height: 100%;
    width: 100%;
    margin: 0 15px;
    padding-right: 15px;
}

#myQueueHeader {
    font-weight: bold;
    font-size: calc(var(--ft-sz)*2); /*Set the font to 2 times the default font "--ft-sz" in style.css which is 16px*/
    height: 40px;
    text-align: center;
    display: block;
    /*position: absolute;
    top: 0;*/
    padding: 5px 0 0 5px;
    width: calc(100% - 10px);
}

#myQueueHeader img {
    height: 80%;
    width: auto;
    position: relative;
    bottom: 1px;
}

#myQueueHeader hr {
    height: 1px;
    background-color: var(--text-grey);
    border: none;
}

#exportQueueContainer {
    background-color: var(--debug);
    height: 48px;
    width: 100%;
    /*position: absolute;
    bottom: 0;*/
    display: flex;
    justify-content: center;
}

#exportQueueButton {
    font-weight: bold;
    font-size: calc(var(--ft-sz)*2); /*Set the font to 2 times the default font "--ft-sz" in style.css which is 16px*/
    height: 48px;
    width: 100%;
    text-align: center;
    display: block;
    vertical-align: middle;
    
    background-color: var(--bkgrnd-grey2);
    transition-duration: 0.4s;
    border: none;
    border-radius: 20px;
    color: var(--text-grey);
}

#exportQueueButton:hover {
    background-color: var(--bkgrnd-grey1);
    color: var(--text-white);
}

#rightPanelDivider {
    margin: 0;
    padding-top: 0px;
    padding-bottom: 0px;
    border-color: rgb(127, 127, 127);
}

*, *:before, *:after {
    box-sizing: border-box;
}

#draggableContainer {
    overflow-y: auto;
    height: calc(100% - 40px - 48px - 16px - 10px);
    /*position: absolute;
    top: 40px;
    bottom: 48px;*/
    width: calc(100% - 8px);
    margin-bottom: 8px;
    margin-top: 18px;
}

.draggableTile {
    /*background-color: rgb(63, 63, 63);
    color: white;*/
    background-color: var(--bkgrnd-grey23);
    color: var(--text-grey);
    position: relative;  /* only in order to make z-index used */
    font-weight: normal;/*bold*/;
    clear: both;
    margin-top: 4px;
    margin-bottom: 4px;
    padding: 0px;  /* any padding will screw up height calculation */
    width: 99%;
}

.draggableTile:hover {
    color: var(--text-white);
}

.draggableTile .draggableTileContent {  /* this exists only so that we can have padding without messing up height calculations of tile */
    padding: 8px;
    text-align: left;
    position: relative;
}

.dragCover {
    display: inline-block;
    height: var(--dragCoverSize);
    width: var(--dragCoverSize);
}

.dragCover img{
    width: 100%;
    height: 100%;
}

.dragText {
    position: absolute;
    display: inline-block;
    top: calc(8px + var(--ft-sz)*0.5);
    left: calc(var(--dragCoverSize) + 16px);
    right: calc(var(--ScrubberSize) + 16px);
    height: calc(var(--ft-sz)*3);
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
}

.scrubber {
    cursor: ns-resize;
    /*float: right;*/
    width: var(--ScrubberSize);
    height: calc(var(--ScrubberSize)*2/5);
    display: inline-block;
    position: absolute;
    top: calc(50% - var(--ScrubberSize)*2/5);
    right: calc(16px);
}

#displaylock {
    background-color: #000;
}