.col-sm-4 {
    padding-top: 0;
}

#rightPanel {
    color: var(--text-white);
    font-family: Arial, Helvetica, sans-serif;
    height: 100%;
    width: 100%;
}

#myQueueHeader {
    font-weight: bold;
    font-size: calc(var(--ft-sz)*2); /*Set the font to 2 times the default font "--ft-sz" in style.css which is 16px*/
    height: 40px;
    text-align: center;
    display: block;
    /*position: absolute;
    top: 0;*/
    width: 100%;
}

#exportQueueContainer {
    background-color: var(--debug);
    height: 48px;
    width: 100%;
    /*position: absolute;
    bottom: 0;*/
    display: flex;
    justify-content: center;
}

#exportQueueButton {
    font-weight: bold;
    font-size: calc(var(--ft-sz)*2); /*Set the font to 2 times the default font "--ft-sz" in style.css which is 16px*/
    height: 48px;
    width: 100%;
    text-align: center;
    display: block;
    vertical-align: middle;
    
    background-color: var(--bkgrnd-grey2);
    transition-duration: 0.4s;
    border: none;
    border-radius: 20px;
    color: var(--text-grey);
}

#exportQueueButton:hover {
    background-color: var(--bkgrnd-grey1);
    color: var(--text-white);
}

#rightPanelDivider {
    margin: 0px;
    padding-top: 0px;
    padding-bottom: 0px;
    border-color: rgb(127, 127, 127)
}

*, *:before, *:after {
    box-sizing: border-box;
}

#draggableContainer {
    overflow-y: auto;
    height: calc(100% - 40px - 48px - 16px);
    /*position: absolute;
    top: 40px;
    bottom: 48px;*/
    width: 100%;
}

.draggableTile {
    /*background-color: rgb(63, 63, 63);
    color: white;*/
    background-color: var(--bkgrnd-grey23);
    color: var(--text-grey);
    position: relative;  /* only in order to make z-index used */
    font-weight: normal;/*bold*/;
    clear: both;
    margin-top: 4px;
    margin-bottom: 4px;
    padding: 0px;  /* any padding will screw up height calculation */
    width: 100%;
}

.draggableTile:hover {
    color: var(--text-white);
}

.draggableTile .draggableTileContent {  /* this exists only so that we can have padding without messing up height calculations of tile */
    padding: 8px;
    text-align: left;
}

.scrubber {
    cursor: ns-resize;
    float: right;
    width: 50px;
    height: 20px;
}

#displaylock {
    background-color: #000;
}