:root {
	--col1: 0%;
	--col1r: 45%;
	--col2: 32%;
	--col3: 12%;
	--col4: 2%;

	--detail: 7;
}

.col-sm-5 {
	height: 100%;
    background-color: var(--bkgrnd-grey2);
    background: linear-gradient(180deg, var(--bkgrnd-grey1) 0%, var(--bkgrnd-grey3) 25%, var(--bkgrnd-grey3) 100%);

  display: flex;
  flex-direction: column;
  position: relative;
  padding: 0 15px;
  transition-duration: 0.25s;
}

.theShow {
	width: 100%;
	/*height: calc(var(--ft-sz)*15);*/
	height: auto;
	background-color: var(--debug);
	display: inline-block;
	position: relative;
}

#theShow-info {
	height: auto;
	width: calc(100% - var(--pct)*2);
	--pct: calc(var(--ft-sz)*(9.75/16));
	margin: var(--pct);
	display: inline-block;
	background-color: var(--debug);
}

#theShow-pic{
	margin-right: 4%;
	display: inline-block;
	float: left;
	clear: right;
	height: calc(var(--ft-sz)*15);;
	width: auto;
	background-color: var(--debug);
	transition-duration: 0s;
	text-align: center;
}

#theShow-pic img {
	position: center;
	--sz: 100%;
	height: var(--sz);
	width: auto;
}

#text{
	display: inline-block;
	float: left;
	clear: right;
	background-color: var(--debug);
	height: auto;
	color: var(--text-white);
	font-size: calc(var(--ft-sz) + 0px);
	margin-right: calc(2% +  var(--ft-sz)*3.5);
	margin-top: 0;
	position: relative;
	right: 0;
	white-space: nowrap;
}

#tS-bold {
	font-weight: bold;
	font-size: calc(var(--ft-sz)*1.5);
	padding-top: 2%;
	padding-bottom: 2%;
	display: inline-block;
	width: 100%;
	white-space: pre-wrap;
}

#theShow-cast-header {
	width: calc(100% - (var(--ft-sz)*(9.75/16))*4 - var(--col4));
	min-height: calc(var(--ft-sz)*1);
	text-decoration: bold;
	display: inline-block;
	position: relative;
	font-weight: bold;
	margin-left: calc(var(--ft-sz)*(9.75/16)*2.5);
}

#thePodcast {
	width: calc(100% - 4*(var(--ft-sz)*(9.75/16)));
	/*height: calc(75% - var(--ft-sz)*5);*/
	background-color: var(--debug);
	position: relative;
	bottom: 0;
	top: 0;
	margin-left: calc(var(--ft-sz)*(9.75/16)*2);
	padding-left: 0;
	overflow-y: auto;
	overflow-x: hidden;
}



.aPodcast:hover {
	color: var(--text-white);
}

.aPodcast {
	width: 100%;
	height: calc(var(--ft-sz)*(2 + var(--detail)*1.25));
	min-height: calc(var(--ft-sz)*4.5);
	position: relative;
	border-radius: calc(var(--ft-sz)*1);
	margin-bottom: calc(var(--ft-sz)*0.5);
	padding-top: calc(var(--ft-sz)*0.5);
	padding-bottom: calc(var(--ft-sz)*0);
}

.tS-title {
	display: inherit;
	float: left;
	position: absolute;
	left: var(--col1);
	background-color: var(--debug);
	height: auto;
	max-height: calc(var(--ft-sz)*(2 + var(--detail)*1.25) - var(--ft-sz)*1);
	right: 0;
	border-radius: calc(var(--ft-sz)*1);
	/*min-width: calc(100% - 4*(var(--ft-sz)*(9.75/16)));*/
}
.tS-detail {
	display: inline-block;
	float: left;
	position: relative;
	background-color: var(--debug);
	min-width: calc(100% - 4*(var(--ft-sz)*(9.75/16)));
}

#tS-title b {
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

#tS-progress {
	display: inherit;
	position: absolute;
	right: var(--col2);
	background-color: var(--debug);
}


.title {
	display: inline-block;
	position: absolute;
	left: calc(var(--ft-sz)/2);
	right: calc(var(--ft-sz)*6 + var(--col3) + 1%);
	background-color: var(--debug);

	height: calc(var(--ft-sz)*1.5);
	font-size: calc(var(--ft-sz) + 1px);
	overflow: hidden;
	display: -webkit-box;
	-webkit-line-clamp: 1;
	-webkit-box-orient: vertical;
	font-weight: bold;
}

.expandTitle {
	right: 0;
}

/*#tS-released {
	display: inline-block;
	position: absolute;
	right: var(--col3);
	background-color: var(--debug);
}

#tS-duration {
	display: inline-block;
	position: absolute;
	right: var(--col4);
	background-color: var(--debug);
}*/
#tS-released {
	display: inline-block;
	float: right;
	background-color: var(--debug);
	margin-right: calc(var(--col4)*2);
}

#tS-duration {
	display: inline-block;
	float: right;
	background-color: var(--debug);
	padding-right: var(--col4);
}

.tS-shift {
	top: calc(var(--ft-sz)*1.75);
}

hr.theShow-line {
	height: 1px;
	background-color: var(--text-grey);
	border: none;
	margin-top: calc(var(--ft-sz)*0.5);
	margin-bottom: calc(var(--ft-sz)*0.5);
	margin-left: calc(var(--ft-sz)*(9.75/16)*2);
	margin-right: calc(var(--ft-sz)*(9.75/16)*2);
}

hr.theCast-line {
	height: 1px;
	background-color: var(--text-grey);
	border: none;
	margin-top: 0;
	margin-bottom: calc(var(--ft-sz)*0.5);
	margin-left: 0;
	margin-right: 0;
	padding-top: 0;
}

#prog-bar {
	border-radius: calc(var(--ft-sz)*0.625);
	border: none;
	color: #00000000;
	background-color: var(--bkgrnd-grey2);
	height: calc(var(--ft-sz)*1.25);
	width: calc(var(--ft-sz)*6);
	position: relative;
}

#prog-bar #comp {
	border-radius: calc(var(--ft-sz)*0.625);
	border: none;
	color: #00000000;
	background-color: var(--blue);
	height: calc(var(--ft-sz)*1.25);
	width: 60%;
	position: absolute;
}

#description {
	max-height: calc(var(--ft-sz)*(var(--detail)*1.25));
	min-height: calc(var(--ft-sz)*2.5);
	width: calc(100% - var(--ft-sz)/1.5 - var(--ft-sz));

	/*display: -webkit-box;
	-webkit-line-clamp: var(--detail);
	-webkit-box-orient: vertical;*/
	overflow-x: hidden;
	overflow-y: hidden;
	margin-top: calc(var(--ft-sz)*0.25);
	margin-bottom: calc(var(--ft-sz)*0.25);
	margin-left: calc(var(--ft-sz)*3/2);
}

#description:hover {
	overflow-y: auto;
}

#green {
	color: var(--green);
	display: none;
}

#yellow {
	color: var(--yellow);
	display: none;
}

.green {
	color: var(--green);
	display: none;
}

.yellow {
	color: var(--yellow);
	display: none;
}

#select {
	display: none;
}

#tS-add {
	display: inline-block;
	transform: translate(0, calc(var(--ft-sz)*-0.9)) scale(0.5);
	font-size: calc(var(--ft-sz)*0.75);
	line-height: calc(var(--ft-sz)*2);

	border-radius: calc(var(--ft-sz)*3*1/2);
	border-color: var(--text-white);
	border-width: calc(var(--ft-sz)*0.2);
	border-style: solid;

	padding: calc(var(--ft-sz)/4);
	width: calc(var(--ft-sz)*3*1);
	height: calc(var(--ft-sz)*3*1);
	text-align: center;
	position: absolute;
}

#tS-add-hidden {
	position: absolute;
	display: none;
	width: auto;
	white-space: nowrap;
	z-index: 1;

	background-color: var(--bkgrnd-grey1);
	border-radius: calc(var(--ft-sz)*1); 
	border-style: solid;
	border-width: calc(var(--ft-sz)*0.1);
	border-color: var(--text-grey);
}

.hidden-block {
	margin: calc(var(--ft-sz)*0.1);
	padding: calc(var(--ft-sz)*0.4);
}

.hidden-block:hover {
	background-color: var(--bkgrnd-grey1p5);
	border-radius: calc(var(--ft-sz)*1);
	/*box-shadow: inset 0 0 0 calc(var(--ft-sz)*0.0) var(--text-grey);*/
}

#theTitle {
	width: 50%;
	padding: 0;
	margin: 0;

	overflow: hidden;
	display: -webkit-box;
	-webkit-line-clamp: 1;
	-webkit-box-orient: vertical;
	font-weight: bold;
	/*margin-bottom: calc(var(--ft-sz)*0.25);
	margin-left: calc(var(--ft-sz)/2);*/
	height: calc(var(--ft-sz)*1.5);
	font-size: calc(var(--ft-sz) + 1px);
}

#mainBodyAlt {
	padding: 100px;
}

#rightClick {
	position: fixed;
	top: 0;
	left: 0;
	display: none;
	background-color: var(--bkgrnd-grey1);
	padding: calc(var(--ft-sz)*1/4);
	padding-left: calc(var(--ft-sz)*2/4);
	padding-right: calc(var(--ft-sz)*2/4);
	border-radius: calc(var(--ft-sz)*0.75);
	border-top-left-radius: 0;
	z-index: 50;
}

.rightClickBlock:hover {
	color: var(--text-white);
}

.rightClickBlock {
	text-align: left;
	padding: calc(var(--ft-sz)*0.25);
}

@keyframes fade {
  0% {
    opacity: 0.5;
  }
  100% {
    opacity: 0;
  }
}



@keyframes pulse {
  0% {
    opacity: 0;
  }
  50% {
  	opacity: 0.5;
  }
  100% {
    opacity: 0;
  }
}
@keyframes fade2 {
  0% {
    opacity: 1;
  }
  50% {
  	opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

#text .dropdown button {
    background-color: inherit;
    border: none;
    color: var(--text-grey);
    border-radius: calc(8px + var(--ft-sz));
    padding: 4px;
    padding-right: 8px;
    padding-left: 8px;
    margin-left: -8px;
    margin-right: 8px;
    color: var(--text-white);
    font-size: inherit;
}

#text .dropdown button:hover {
    background-color: var(--bkgrnd-grey1);
}

#text ul.dropdown-menu {
    border-radius: calc(8px + var(--ft-sz));
    background-color: none;
}
#text ul.dropdown-menu li.newToOld {
    border-radius: calc(8px + var(--ft-sz));
    background-color: none;
}