:root {
	--col1: 0%;
	--col1r: 45%;
	--col2: 32%;
	--col3: 12%;
	--col4: 2%;

	--detail: 7;
}

.col-sm-5 {
	height: 100%;
    background-color: var(--bkgrnd-grey2);
    background: linear-gradient(180deg, var(--bkgrnd-grey1) 0%, var(--bkgrnd-grey3) 25%, var(--bkgrnd-grey3) 100%);

  display: flex;
  flex-direction: column;
}

.theShow {
	width: 100%;
	/*height: calc(var(--ft-sz)*15);*/
	height: auto;
	background-color: var(--debug);
	display: inline-block;
	position: relative;
}

#theShow-info {
	height: auto;
	width: 100%;
	--pct: calc(var(--ft-sz)*(9.75/16));
	/*position: relative;
	top: var(--pct);
	bottom: var(--pct);
	left: var(--pct);
	right: var(--pct);*/
	margin: var(--pct);
	display: inline-block;
	background-color: var(--debug);
}

.theShow #theShow-pic{
	display: inline-block;
	height: calc(var(--ft-sz)*15);;
	width: auto;
	background-color: var(--debug);
}
#theShow-pic img {
	position: center;
	--sz: 100%;
	height: var(--sz);
	width: auto;
}

.theShow #text{
	display: inline-block;
	background-color: var(--debug);
	height: 100%;
	color: var(--text-white);
	font-size: calc(var(--ft-sz) + 0px);
	margin-left: 2%;
	margin-left: 2%;
	margin-top: calc(var(--ft-sz)*1);
	position: relative;
	left: 2%;
	right: 0;
	/*padding: 2%;*/
}

#tS-bold {
	font-weight: bold;
	font-size: calc(var(--ft-sz)*1.5);
	padding-top: 2%;
	padding-bottom: 2%;
}

#theShow-cast-header {
	width: calc(100% - (var(--ft-sz)*(9.75/16))*4 - var(--col4));
	min-height: calc(var(--ft-sz)*1);
	text-decoration: bold;
	display: inline-block;
	position: relative;
	font-weight: bold;
	margin-left: calc(var(--ft-sz)*(9.75/16)*2.5);
}

#thePodcast {
	width: calc(100% - 4*(var(--ft-sz)*(9.75/16)));
	/*height: calc(75% - var(--ft-sz)*5);*/
	background-color: var(--debug);
	position: relative;
	bottom: 0;
	top: 0;
	margin-left: calc(var(--ft-sz)*(9.75/16)*2);
	padding-left: 0;
	overflow-y: auto;
	overflow-x: hidden;
}



.aPodcast:hover {
	color: var(--text-white);
}

.aPodcast {
	width: 100%;
	height: calc(var(--ft-sz)*(2 + var(--detail)*1.25));
	min-height: calc(var(--ft-sz)*4.5);
	background-color: var(--bkgrnd-grey);
	position: relative;
	padding-bottom: 1px;
}

.tS-title {
	display: inherit;
	float: left;
	position: absolute;
	left: var(--col1);
	background-color: var(--debug);
	height: auto;
	right: 0;
	/*min-width: calc(100% - 4*(var(--ft-sz)*(9.75/16)));*/
}
.tS-detail {
	display: inline-block;
	float: left;
	position: relative;
	background-color: var(--debug);
	min-width: calc(100% - 4*(var(--ft-sz)*(9.75/16)));
}

#tS-title b {
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

#tS-progress {
	display: inherit;
	position: absolute;
	right: var(--col2);
	background-color: var(--debug);
}


#title {
	display: inline-block;
	position: absolute;
	left: calc(var(--ft-sz)/2);
	right: calc(var(--ft-sz)*6 + var(--col3) - 2%);
	background-color: var(--debug);

	height: calc(var(--ft-sz)*1.5);
	font-size: calc(var(--ft-sz) + 1px);
	overflow: hidden;
	display: -webkit-box;
	-webkit-line-clamp: 1;
	-webkit-box-orient: vertical;
	font-weight: bold;
}

/*#tS-released {
	display: inline-block;
	position: absolute;
	right: var(--col3);
	background-color: var(--debug);
}

#tS-duration {
	display: inline-block;
	position: absolute;
	right: var(--col4);
	background-color: var(--debug);
}*/
#tS-released {
	display: inline-block;
	float: right;
	background-color: var(--debug);
	margin-right: calc(var(--col4)*2);
}

#tS-duration {
	display: inline-block;
	float: right;
	background-color: var(--debug);
	padding-right: var(--col4);
}

.tS-shift {
	top: calc(var(--ft-sz)*1.75);
}

hr.theShow-line {
	height: 1px;
	background-color: var(--text-grey);
	border: none;
	margin-top: calc(var(--ft-sz)*0.5);
	margin-bottom: calc(var(--ft-sz)*0.5);
	margin-left: calc(var(--ft-sz)*(9.75/16)*2);
	margin-right: calc(var(--ft-sz)*(9.75/16)*2);
}

hr.theCast-line {
	height: 1px;
	background-color: var(--text-grey);
	border: none;
	margin-top: 0;
	margin-bottom: calc(var(--ft-sz)*0.5);
	margin-left: 0;
	margin-right: 0;
}

#prog-bar {
	border-radius: calc(var(--ft-sz)*0.625);
	border: none;
	color: #00000000;
	background-color: var(--bkgrnd-grey2);
	height: calc(var(--ft-sz)*1.25);
	width: calc(var(--ft-sz)*6);
	position: relative;
}

#prog-bar #comp {
	border-radius: calc(var(--ft-sz)*0.625);
	border: none;
	color: #00000000;
	background-color: var(--blue);
	height: calc(var(--ft-sz)*1.25);
	width: 60%;
	position: absolute;
}

#description {
	max-height: calc(var(--ft-sz)*(var(--detail)*1.25));
	min-height: calc(var(--ft-sz)*2.5);
	width: calc(100% - var(--ft-sz)/1.5);

	/*display: -webkit-box;
	-webkit-line-clamp: var(--detail);
	-webkit-box-orient: vertical;*/
	overflow-x: hidden;
	overflow-y: auto;
	margin-top: calc(var(--ft-sz)*0.25);
	margin-bottom: calc(var(--ft-sz)*0.25);
	margin-left: calc(var(--ft-sz)/2);

	background-color: var(--debug);
}

#blue {
	color: var(--blue);
	display: inline-block;
}

#tS-add {
	display: inline-block;
}

#theTitle {
	width: 50%;
	padding: 0;
	margin: 0;

	overflow: hidden;
	display: -webkit-box;
	-webkit-line-clamp: 1;
	-webkit-box-orient: vertical;
	font-weight: bold;
	/*margin-bottom: calc(var(--ft-sz)*0.25);
	margin-left: calc(var(--ft-sz)/2);*/
	height: calc(var(--ft-sz)*1.5);
	font-size: calc(var(--ft-sz) + 1px);
}