
:root {
    --text-grey: #7E7B7B;
    --text-white: #F2F2F2;
    --green: #00B050;
    --blue: #4472C4;
    --yellow: #FDC928;
    --bkgrnd-grey1: #404040;
    --bkgrnd-grey1p5: #2C2C2C;
    --bkgrnd-grey2: #262626;
    --bkgrnd-grey23: #262626;
    --bkgrnd-grey3: #1D1D1D;
    --debug: #FF000000;
    --ft-sz: 16px;
}

::-webkit-scrollbar {
    width: calc(var(--ft-sz)/1.5);
}
::-webkit-scrollbar-track {
  background: #00000000;
  border-radius: calc(var(--ft-sz)/3);
  border-top: 3px solid var(--text-white);
  border-bottom: 3px solid var(--text-white);
}
/* Handle */
::-webkit-scrollbar-thumb {
  background: var(--bkgrnd-grey1);
  border-radius: calc(var(--ft-sz)/3);
}
/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: var(--text-grey);
}

/* Remove the navbar's default margin-bottom and rounded borders */
.navbar {
    margin-bottom: 0;
    border: none;
    background-color: inherit;
}

/* Set height of the grid so .sidenav can be 100% (adjust as needed) */
.row.content {
    position: absolute;
    top: 50px;
    bottom: 0px;
    width: 100%;
    background-color: var(--debug);
}

/* Set gray background color and 100% height */
.sidenav {
    padding-top: 20px;
    height: 100%;
    background-color: var(--debug);
}

/* On small screens, set height to 'auto' for sidenav and grid */
@media screen and (max-width: 767px) {
    .sidenav {
        height: auto;
        padding: 15px;
    }

    .row.content {
        height: auto;
    }
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: var(--bkgrnd-grey3);
    color: var(--text-grey);
    font-size: var(--ft-sz);
}

hr.nav-line {
    height: 1px;
    background-color: var(--bkgrnd-grey1);
    border: none;
    margin-top: 0;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    position: relative;
    top: -1px;
}